.wap{
    position: relative;
}
header{
    width: 100%;
    height: 50px;
    background-color: #222; 
}
.clear{
    clear: both;
}
ul,a{
    text-decoration: none;
    list-style: none;
}
nav{
    width: 1000px;
    margin: 0 auto;
    height: 50px;
}
.logo{
    float: left;
    height: 50px;
}
.logo img {
    padding:7px 15px 7px 15px;
}

nav ul{
    list-style: none;
    text-align: center;
}
nav ul li a{
    display: block;
    float: left;
    text-decoration: none;
    color: #9d9d9d;
    line-height: 36px;
    padding: 7px 15px 7px 15px;
    font-size: 14px;
    font-family: "Adobe 黑体 Std";
}
nav ul .img a{
    padding: 0px;
    padding-top: 7px;
    padding-bottom: -7px;  
}
nav ul li a:hover .img{
    background-color: #000;
    padding: 0px;
}
nav ul li a:hover{
    background-color: #000;
    color: white;
}

nav .lan{
    float: left;
    background-color: #222;
    border: none;
    font-size: 14px;
    color: #9d9d9d;
    padding: 7px 15px 7px 15px;
    height: 50px;
    margin-left: 50px;
    font-family: "Arial";
}
/*------------------------------------------------*/
.banner{
    width: 100%;
}
.banner div a img{
    display: block;
    width: 100%;
    height: 657px;
}
/*------------------------------------------------*/
.engin{
    width: 100%;
    height: 641px;
    background: url("../images/engin_bg.jpg") no-repeat ;
}
.box{
    width: 688px;
    height: 641px;
    margin-left: 220px;
}
.box1 .p1{
    font-size: 47.75px;
    font-weight: bold;
    color: #0078d7;
    padding-top: 105px;
    margin-top: 0px;
    
}
.box1 .p2{
    font-size: 30.22px;
    color: #666666;
    margin-top: 40px;
}


.box2{
    margin-top: 50px;
    width: 342px;
    height: 76px;
    float: left;
}
.box2 ul .li{
    float: left;
    height: 76px;
    padding-left: 14px;
}
.box2 ul{
    list-style:none;
}
.box2 ul .li ul{
    font-size: 19.24px;
    color: #333;
}
.box2 ul .li ul li{
    font-size: 14px;
    color: #666666;
    padding-left: 0;
}
.box2 ul .li ul li:first-child{
    margin-top: 15px;
}

/*------------------------------------------------*/
.good{
    width: 100%;
    height: 580px;
    background: url("../images/good_bg.jpg") no-repeat;
    position: relative;
}
.good div{
    width: 458px;
    height: 402px;
    position: absolute;
    left: 590px;
    top: 89px;
}
.good div ul{
    list-style: none;
}
.good div p{
    color: #8fc31f;
    font-size: 48.06px;
    margin-top: 0px;
    font-weight: bold;
}

.good .flo li{
    float: left;
    padding-left: 0px;
    font-size: 14px;
    color: #666;
    height: 54px;
    line-height: 54px;
    margin-left: 10px;
    margin-top: 16px;
}
/*------------------------------------------------*/
.fam{
    width: 100%;
    height: 905px;
    background-color: #0079d7;
}
.fam_box{
    width: 1000px;
    height: 749px;
    margin-left: 220px;
    padding-top:54px;
}

.fam_box p{
    text-align: center;
    font-size: 48.45px;
    /* color: #fffefe; */
    color: #fffefe;
    margin-top: 62px;
    margin-bottom: 0;
}

.fam_box .fam_div{
    width: 454px;
    height: 126px;
    float: left;
    margin-top: 75px;
}
.fam_div ul .fam_li .img{
    width: 66px;
    height: 66px;
}
.fam_div ul .fam_li{
    float: left;
    margin-left: 50px;
}
.fam_div ul{
    font-size: 32px;
    padding-left:0px;
    height: 88px;
    color: #fffefe;
}
.fam_div ul .fam_li ul li{
    font-size: 14px;
    margin-top: 15px;
    color: #fffefe;
}
.fam_div ul .fam_li ul{
    margin-top: 0;
}
/*------------------------------------------------*/

.game{
    width: 100%;
    height: 433px;
}
.game .g_box{
    width: 1000px;
    height: 353px;
    margin-left: 220px;
    padding-top: 40px;
}
.g_box .p1{
    color: #2a2a2a;
    font-size: 34.65px;
    float: left;
    line-height: 129px;
    margin: 0;
    margin-left: 15px;
}
.g_box .p1a a{
    display: block;
    font-size: 14px;
    color: #2a2a2a;
    float: right;
    line-height: 129px;
}
.game .g_box ul{
    padding-left: 0;
    margin: 0;
    height: 226px;
}
.game .g_box .li{
    float: left;
    padding-left: 15px;
    height: 225px;
}
.game .g_box .li .li_div{
    width: 582px;
    height:225px ;
}
.game .g_box .li .li_div div{
    float: left;
    width: 67px;
    height: 109px;
    color: #2a2a2a;
    font-size: 14px;
    text-align: center;
    margin-left: 30px;
    margin-top: 11px;
    padding: 0;
}
.game .g_box .li .li_div div p{
    margin-top: 5px;
}




/*------------------------------------------------*/

.par{
    width: 100%;
    height: 318px;
    background-color: #f4f4f4;
}
.par_box{
    width: 1000px;
    height: 278px;
    margin-left: 220px;
    padding-top: 40px;
}
.par_box p{
    font-size: 30px;
    color: #2a2a2a;
    margin: 0;
    margin-left: 15px;
}
.par_box p span{
    font-size: 11.2px;
    color: #777;
}
.par_box .par_div{
    width: 1000px;
    height: 175px;
    margin-top: 15px;
}
.par_box .par_div div img{
    display: block;
    width: 148px;
    height: 64px;
    border: 1px solid #dddddd;
    margin-left:15px ;
    margin-top: 20px;
    float: left;
    border-radius: 4px;
}
/*------------------------------------------------*/
.fooder{
    height: 113px;
    width: 100%;
    background-color: #3b3b3b;
}
.fbox{
    width: 1000px;
    height: 73px;
    margin-left: 220px;
    padding-top: 20px;
}
.fbox .div{
    width: 500px;
    height: 73px;
    float: left;
    /* position: relative; */
}
.fbox .div .p1{
    font-size: 14px;
    color: #a1a3ab;
    line-height: 29px;
    margin: 0;
}
.fbox .div .p2{
    font-size: 11px;
    color: #a1a3ab;
    line-height: 26px;
    margin: 0;
}
.fbox .div a{
    display: block;
    float: right;
    margin-left: 15px;
}
.er{
    position: absolute;
    bottom: 80px;
    right: 204px;
    opacity: 0;
}
/* .fbox .div ul li{
    opacity: 1;
} */
.fbox .div ul li a:hover .er{
    opacity: 1;
    right: 143px;
}

